body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  background-color:rgb(255, 255, 255);
  margin: 20px;
  padding: 20px;
}
p {
  font-size: 16px;
  color: #333;
}

.header {
  font-family: 'Lato';
  text-align: center;
  padding: 20px 0;
  color: tomato;
  
}

.header h1 {
  font-size: 48px;
  margin: 0;
}

.header p {
  font-size: 18px;
  color: #555;
  margin-top: 5px;
}

.navbar {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.navbar a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 16px;
}

.main {
  max-width: 800px;

}

.article {
  border-bottom: 1px solid #ddd;
  margin-bottom: 40px;
  padding-bottom: 20px;

}

.article h2 {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 5px;
}

.article h3 {
  font-size: 28px;
  color: #333;
  margin: 10px 0;
}

.article img {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.article-text {
  font-size: 18px;
  text-align: justify;
}

.continues {
  color: #e74c3c;
  text-decoration: none;
  font-size: 16px;
}

.footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ddd;
}

.footer-nav {
  margin-bottom: 10px;
}
.footer a {
  margin: 0 10px;
  text-decoration: none;
  color: tomato;
  font-size: 14px;
}

.footer-nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.footer p {
  font-size: 14px;
  color: #aaa;
  text-align: left;
}